img[alt=elevator] { width: 400px; }
img[alt=me] { width: 100px; }
img[alt=noud] { width: 400px; }
img[alt=sanne] { width: 500px; }
img[alt=etendrinken] { width: 600px; }
img[alt=hobbies] { width: 600px; }
img[alt=speelgoed] { width: 600px; }
img[alt=voedselbank] { width: 800px; }
img[alt=topchef-gordon] { width: 500px; }